<Type Name="Settings" FullName="Microsoft.SqlServer.Management.Smo.Settings">
  <TypeSignature Language="C#" Value="public sealed class Settings : Microsoft.SqlServer.Management.Smo.SqlSmoObject, Microsoft.SqlServer.Management.Common.IAlterable, Microsoft.SqlServer.Management.Smo.IScriptable" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi sealed beforefieldinit Settings extends Microsoft.SqlServer.Management.Smo.SqlSmoObject implements class Microsoft.SqlServer.Management.Common.IAlterable, class Microsoft.SqlServer.Management.Smo.IScriptable" />
  <TypeSignature Language="DocId" Value="T:Microsoft.SqlServer.Management.Smo.Settings" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.SqlServer.Smo</AssemblyName>
    <AssemblyVersion>14.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>Microsoft.SqlServer.Management.Smo.SqlSmoObject</BaseTypeName>
  </Base>
  <Interfaces>
    <Interface>
      <InterfaceName>Microsoft.SqlServer.Management.Common.IAlterable</InterfaceName>
    </Interface>
    <Interface>
      <InterfaceName>Microsoft.SqlServer.Management.Smo.IScriptable</InterfaceName>
    </Interface>
  </Interfaces>
  <Attributes>
    <Attribute>
      <AttributeName>Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcElement(Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcElementFlags.Standalone)</AttributeName>
    </Attribute>
    <Attribute>
      <AttributeName>Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcElementType("Setting")</AttributeName>
    </Attribute>
  </Attributes>
  <Docs>
    <summary>
            Kapseln von Instanz-Klasse: Server [@Name= "] / festlegen
            </summary>
    <remarks>Muss hinzugefügt werden.</remarks>
  </Docs>
  <Members>
    <Member MemberName="Alter">
      <MemberSignature Language="C#" Value="public void Alter ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance void Alter() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.SqlServer.Management.Smo.Settings.Alter" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>14.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>Muss hinzugefügt werden.</summary>
        <remarks>Muss hinzugefügt werden.</remarks>
      </Docs>
    </Member>
    <Member MemberName="AuditLevel">
      <MemberSignature Language="C#" Value="public Microsoft.SqlServer.Management.Smo.AuditLevel AuditLevel { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype Microsoft.SqlServer.Management.Smo.AuditLevel AuditLevel" />
      <MemberSignature Language="DocId" Value="P:Microsoft.SqlServer.Management.Smo.Settings.AuditLevel" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>14.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcProperty(Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcPropertyFlags.Standalone)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>Microsoft.SqlServer.Management.Smo.AuditLevel</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Muss hinzugefügt werden.</summary>
        <value>Muss hinzugefügt werden.</value>
        <remarks>Muss hinzugefügt werden.</remarks>
      </Docs>
    </Member>
    <Member MemberName="BackupDirectory">
      <MemberSignature Language="C#" Value="public string BackupDirectory { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string BackupDirectory" />
      <MemberSignature Language="DocId" Value="P:Microsoft.SqlServer.Management.Smo.Settings.BackupDirectory" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>14.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcProperty(Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcPropertyFlags.Standalone)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Muss hinzugefügt werden.</summary>
        <value>Muss hinzugefügt werden.</value>
        <remarks>Muss hinzugefügt werden.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DefaultFile">
      <MemberSignature Language="C#" Value="public string DefaultFile { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string DefaultFile" />
      <MemberSignature Language="DocId" Value="P:Microsoft.SqlServer.Management.Smo.Settings.DefaultFile" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>14.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcProperty(Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcPropertyFlags.Standalone)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Muss hinzugefügt werden.</summary>
        <value>Muss hinzugefügt werden.</value>
        <remarks>Muss hinzugefügt werden.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DefaultLog">
      <MemberSignature Language="C#" Value="public string DefaultLog { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string DefaultLog" />
      <MemberSignature Language="DocId" Value="P:Microsoft.SqlServer.Management.Smo.Settings.DefaultLog" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>14.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcProperty(Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcPropertyFlags.Standalone)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Muss hinzugefügt werden.</summary>
        <value>Muss hinzugefügt werden.</value>
        <remarks>Muss hinzugefügt werden.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetUrnRecursive">
      <MemberSignature Language="C#" Value="protected override sealed void GetUrnRecursive (System.Text.StringBuilder urnbuilder, Microsoft.SqlServer.Management.Smo.UrnIdOption idOption);" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig virtual instance void GetUrnRecursive(class System.Text.StringBuilder urnbuilder, valuetype Microsoft.SqlServer.Management.Smo.UrnIdOption idOption) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.SqlServer.Management.Smo.Settings.GetUrnRecursive(System.Text.StringBuilder,Microsoft.SqlServer.Management.Smo.UrnIdOption)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>14.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="urnbuilder" Type="System.Text.StringBuilder" />
        <Parameter Name="idOption" Type="Microsoft.SqlServer.Management.Smo.UrnIdOption" />
      </Parameters>
      <Docs>
        <param name="urnbuilder">Muss hinzugefügt werden.</param>
        <param name="idOption">Muss hinzugefügt werden.</param>
        <summary>Muss hinzugefügt werden.</summary>
        <remarks>Muss hinzugefügt werden.</remarks>
      </Docs>
    </Member>
    <Member MemberName="LoginMode">
      <MemberSignature Language="C#" Value="public Microsoft.SqlServer.Management.Smo.ServerLoginMode LoginMode { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype Microsoft.SqlServer.Management.Smo.ServerLoginMode LoginMode" />
      <MemberSignature Language="DocId" Value="P:Microsoft.SqlServer.Management.Smo.Settings.LoginMode" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>14.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcProperty(Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcPropertyFlags.Standalone)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>Microsoft.SqlServer.Management.Smo.ServerLoginMode</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Muss hinzugefügt werden.</summary>
        <value>Muss hinzugefügt werden.</value>
        <remarks>Muss hinzugefügt werden.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MailProfile">
      <MemberSignature Language="C#" Value="public string MailProfile { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string MailProfile" />
      <MemberSignature Language="DocId" Value="P:Microsoft.SqlServer.Management.Smo.Settings.MailProfile" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>14.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcProperty(Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcPropertyFlags.Standalone)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Muss hinzugefügt werden.</summary>
        <value>Muss hinzugefügt werden.</value>
        <remarks>Muss hinzugefügt werden.</remarks>
      </Docs>
    </Member>
    <Member MemberName="NumberOfLogFiles">
      <MemberSignature Language="C#" Value="public int NumberOfLogFiles { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 NumberOfLogFiles" />
      <MemberSignature Language="DocId" Value="P:Microsoft.SqlServer.Management.Smo.Settings.NumberOfLogFiles" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>14.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcProperty(Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcPropertyFlags.Standalone)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Muss hinzugefügt werden.</summary>
        <value>Muss hinzugefügt werden.</value>
        <remarks>Muss hinzugefügt werden.</remarks>
      </Docs>
    </Member>
    <Member MemberName="OleDbProviderSettings">
      <MemberSignature Language="C#" Value="public Microsoft.SqlServer.Management.Smo.OleDbProviderSettingsCollection OleDbProviderSettings { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.SqlServer.Management.Smo.OleDbProviderSettingsCollection OleDbProviderSettings" />
      <MemberSignature Language="DocId" Value="P:Microsoft.SqlServer.Management.Smo.Settings.OleDbProviderSettings" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>14.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcObject(Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcContainerRelationship.ObjectContainer, Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcContainerCardinality.ZeroToAny, typeof(Microsoft.SqlServer.Management.Smo.OleDbProviderSettings))</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>Microsoft.SqlServer.Management.Smo.OleDbProviderSettingsCollection</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Muss hinzugefügt werden.</summary>
        <value>Muss hinzugefügt werden.</value>
        <remarks>Muss hinzugefügt werden.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Parent">
      <MemberSignature Language="C#" Value="public Microsoft.SqlServer.Management.Smo.Server Parent { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.SqlServer.Management.Smo.Server Parent" />
      <MemberSignature Language="DocId" Value="P:Microsoft.SqlServer.Management.Smo.Settings.Parent" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>14.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcObject(Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcObjectRelationship.ParentObject)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>Microsoft.SqlServer.Management.Smo.Server</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Muss hinzugefügt werden.</summary>
        <value>Muss hinzugefügt werden.</value>
        <remarks>Muss hinzugefügt werden.</remarks>
      </Docs>
    </Member>
    <Member MemberName="PerfMonMode">
      <MemberSignature Language="C#" Value="public Microsoft.SqlServer.Management.Smo.PerfMonMode PerfMonMode { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype Microsoft.SqlServer.Management.Smo.PerfMonMode PerfMonMode" />
      <MemberSignature Language="DocId" Value="P:Microsoft.SqlServer.Management.Smo.Settings.PerfMonMode" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>14.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcProperty(Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcPropertyFlags.Standalone)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>Microsoft.SqlServer.Management.Smo.PerfMonMode</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Muss hinzugefügt werden.</summary>
        <value>Muss hinzugefügt werden.</value>
        <remarks>Muss hinzugefügt werden.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Script">
      <MemberSignature Language="C#" Value="public System.Collections.Specialized.StringCollection Script ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Collections.Specialized.StringCollection Script() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.SqlServer.Management.Smo.Settings.Script" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>14.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Collections.Specialized.StringCollection</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>Muss hinzugefügt werden.</summary>
        <returns>Muss hinzugefügt werden.</returns>
        <remarks>Muss hinzugefügt werden.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Script">
      <MemberSignature Language="C#" Value="public System.Collections.Specialized.StringCollection Script (Microsoft.SqlServer.Management.Smo.ScriptingOptions scriptingOptions);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Collections.Specialized.StringCollection Script(class Microsoft.SqlServer.Management.Smo.ScriptingOptions scriptingOptions) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.SqlServer.Management.Smo.Settings.Script(Microsoft.SqlServer.Management.Smo.ScriptingOptions)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>14.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Collections.Specialized.StringCollection</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="scriptingOptions" Type="Microsoft.SqlServer.Management.Smo.ScriptingOptions" />
      </Parameters>
      <Docs>
        <param name="scriptingOptions">Muss hinzugefügt werden.</param>
        <summary>Muss hinzugefügt werden.</summary>
        <returns>Muss hinzugefügt werden.</returns>
        <remarks>Muss hinzugefügt werden.</remarks>
      </Docs>
    </Member>
    <Member MemberName="TapeLoadWaitTime">
      <MemberSignature Language="C#" Value="public int TapeLoadWaitTime { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 TapeLoadWaitTime" />
      <MemberSignature Language="DocId" Value="P:Microsoft.SqlServer.Management.Smo.Settings.TapeLoadWaitTime" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>14.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcProperty(Microsoft.SqlServer.Management.Sdk.Sfc.Metadata.SfcPropertyFlags.Standalone)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Muss hinzugefügt werden.</summary>
        <value>Muss hinzugefügt werden.</value>
        <remarks>Muss hinzugefügt werden.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
